*{
    margin:0;
    padding:0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(208, 204, 208, 1);
}
nav{
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    background-color: #222222;
    padding: 20px;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.3);
}
nav .navbar_container{
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .navbar_logo{
    margin: 0;
    padding:5px 0;
    width: 20%;
    float:left;
    font-size: 3rem;
    top:0;
    left:0; 
}
nav .navbar_links{
    display:flex;
    align-items: center;
}
nav .navbar_links li {
    list-style: none;
    display: flex;
    margin: 0 8px ;
}
nav .navbar_links a{
    color:#D0CCD0;
    opacity: 0.7;
    font-size: 1.2rem;
    text-decoration:none;
    padding: 10px 15px;
}
nav .navbar_links a:hover{
    color: #EAC435;
    opacity: 1;
    text-decoration: underline;
    transition: all 0.3s;
}
#home{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cvbtn{
    width: 125px;
    height: 62px;
    cursor: pointer;
    color: #1f2232;;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background-color: #EAC435;
    transition: 0.1s;
}
.cvbtn::after{
    content:'';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%,rgba(94,130,255,1) 17.8%,rgba(234,196,53,1)100.2% );
    filter: blur(10px);
    z-index: -1;
    position:absolute;
    left:0;
    top:0;
}
.cvbtn:hover{
    background: radial-gradient(circle farthest-corner at 10% 20%,rgba(166,130,255,1) 17.8%,rgba(166,130,255,1) 17.8%,rgba(234,196,53,1)100.2%);
    transition: 0.5s;
}
.cvbtn:active{
    transform: scale(0.3) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%,rgba(166,130,255,1) 17.8%,rgba(234,196,53,1)100.2%);
    transition: 0.5s;
}
#intro-section{
    height: 250px;
    background-image:url("mb.jpg");
    background-size: cover;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
#welcome-section{
    display: flex ;
    margin:10px;
    justify-content: center;
}
.message{
    display: flex;
    margin: 50px;
    width: 35%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}
.message img {
    border-radius: 20%;
}
section{
    margin-top: 1rem;
    padding-top:2rem;
}
.section-heading{
    font-size: 2rem;
    text-align: center;
}
div.my-infromation{
    display:block;
    font-size: 1.5rem;
    text-align: left;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
#skills-section{
    background-color: #EAC435;
    color:black;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.skills-container{
    display:flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    margin: auto;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    padding-bottom: 15px;
}
.skill-information{
    text-align:center;
    padding-top: 2%;
    width: 120px;
    height: 100px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    margin: 3px;
}
.skill-name{
    padding-left:min(1.5rem);
    padding-right:min(1.5rem);
    padding: 1.5 rem;
    margin: 0;
    font-size:1.5 rem;
}
#contact-section{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #222222;
    color:#EAC435;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
#contact-section p{
    margin-top: 10px;
    margin-bottom: 5px;
}
#contact-section ul {
    display: flex;
    margin: auto ;
    color:white;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

#contact-section a{    
    margin-right: 10px;
    color: white;
    text-decoration:none;
    opacity: 0.7;
    padding: 10px 15px;
}
#contact-section a:hover{
    color: #EAC435;
    opacity: 1;
    text-decoration: underline;
    transition: all 0.3s;
}


