*{
    overflow-wrap: break-word;
    margin:0;
    padding:0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #262626;
}
nav{
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    background-color: #090A0C;
    padding: 20px;
    box-shadow: 0 10px 10px -5px rgba(9,10,12,0.03);
}
nav .navbar_container{
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .navbar_logo{
    margin: 0;
    padding:5px 0;
    width: 20%;
    float:left;
    font-size: 3rem;
    top:0;
    left:0; 
}
 .navbar_links{
    display:flex;
    align-items: center;
    text-align: center;
}
 .navbar_links li {
    list-style: none;
    display: flex;
    margin: 0 8px ;
}
 .navbar_links a{
    color:white;
    opacity: 0.7;
    font-size: 1.2rem;
    text-decoration:none;
    padding: 10px 15px;
}
 .navbar_links a:hover{
    color: #60712F;
    opacity: 1;
    text-decoration: underline;
    transition: all 0.3s;
}
@media(max-width:992px){
    body,html{overflow-x: hidden;}
    body{position: relative;width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    nav{position: relative;}
    .navbar_dropmenu_links{ 
        position: relative;
        background-color: #090A0C ;
        align-items: center;
        text-align: center;}
    .navbar_dropmenu_links li {
        list-style: none;
        margin: 0 8px ;
    }
    .navbar_dropmenu_links a:hover{
        color: #60712F;
        opacity: 1;
        text-decoration: underline;
        transition: all 0.3s;
    }
    .navbar_dropmenu_links a{
        color:#FAFFFD;
        opacity: 0.7;
        font-size: 1.4rem;
        text-decoration:none;
        padding: 10px 15px;
    }
    .navbar_logo{display: none;}
    .navbar_logo_min_width{position: relative;
        align-items: center;
        text-align: center;
        font-size: 3rem;
     }
    .navbar_links_container,.navbarbutton {display: none;}
    #intro-section{
       margin: -5px;
    }
    #welcome-section{
        margin-left: 5%;
        margin-right: 5%;
        width: 80%;
        flex-direction: column;
        margin-top: 3%;
    }
    #welcome-section > .message{
        font-size: 1.3rem;
    }
    #welcome-section > div{
        width: 80%;
        height: fit-content; 
    }
    #about-section{
        justify-content: center;
        box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
        display: block;    
    }
    .contact{display: none;}
    .contactmin{  
        background-color: #262626;
        color:#60712F;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
       
    }
    .centercontentmin{
       
        justify-content: center;
        align-items: center;
        text-align: center;
        display: inline-block;
    }
    .contactmin p{   
        
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .contactmin  li{
       
        font-size: 1.3rem;  
        text-align: center;
        justify-content: center;
    }
    .contactmin ul {
        
        color:white;
        margin: auto;
        list-style: none;
       
    }
    .contactmin a{    
        
        color: white;
        text-decoration:none;
        opacity: 0.3;
        
    }
    .contactmin a:hover{
        color: #60712F;
        opacity: 1;
        text-decoration: underline;
        transition: all 0.3s;
    }
}
@media(min-width:993px){
    .navbar_container_min_width{display:none} 
    .navbar_logo_min_width{display:none} 
    .contactmin{display: none;}
   
    
}
#home{
    height: 100vh;
    width: 100%;
    background-color: #262626;;
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cvbtn{
    width: 125px;
    height: 62px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background-color: #60712F;
    transition: 0.1s;
}
.cvbtn::after{
    content:'';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%,rgba(218,116,34,1) 17.8%,rgba(218,116,34,1)100.2% );
    filter: blur(10px);
    z-index: -1;
    position:absolute;
    left:0;
    top:0;
}
.cvbtn:hover{
    background: radial-gradient(circle farthest-corner at 10% 20%,rgba(218,116,34,1) 17.8%,rgba(218,116,34,1) 17.8%,rgba(218,116,34,1)100.2%);
    transition: 0.5s;
}
.cvbtn:active{
    transform: scale(0.3) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%,rgba(218,116,34,1) 17.8%,rgba(218,116,34,1)100.2%);
    transition: 0.5s;
}
#intro-sctn{
    box-shadow: 1px solid black;
    width: 100%;
    height: 250px;
    background-image:url("images/mb.jpg");
    background-size: cover;
    box-shadow: 10px 10px 10px 10px rgba(9,10,12,0.03);
}
#welcome-section{
    display: flex ;
    margin: 5px;
    justify-content: center;
    background-color: #262626;;
}
.message{
    display: flex;
    margin: 50px;
    width: 35%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}
.message img {
    border-radius: 20%;
}
#about-section{
    margin: 50px;
    justify-content: center;
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
}
.section-heading{
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
    font-size: 2rem;
    text-align: center;
    background-color: #60712F;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}
.about-container{
    color: #000;
}
section{
    background-color: #CFCFEA;;
    padding: 20px;
    margin: 0px;
}

div.my-infromation{
    display:block;
    font-size: 1.5rem;
    text-align: left;
    box-shadow: 10px 10px 10px 10px rgba(9,10,12,0.3);
}

.programming_skills-container{
    display:grid;
    grid-template-columns: repeat(
        auto-fit,minmax(min(100%,65px),1fr)
    );
    gap: 20px;
    margin-left: 15px;
}

#programming_skills-section{
    
    padding: 20px;
    margin: 50px;
    justify-content: center;
    background-color: #CFCFEA;;
    color:black;
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
  
}
.programming_section-heading{  
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
    font-size: 2rem;
    text-align: center;
    background-color: #60712F;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}

#skills-section{
   
    display: block;
    padding: 20px;
    margin: 50px;
    justify-content: center;
    background-color: #CFCFEA;;
    color:black;
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
}
.o-skill-information{
    
    display:grid;
    overflow-wrap: break-word;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,175px),1fr));
    gap:20px; 
}
.o-skills-card{
    padding: 1.35rem;
    border-radius: 4px;
    background-color: #CFCFEA;;
    color:black;
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
}
.header-card{
    
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
    font-size: 1.3rem;
    text-align: center;
    background-color: #60712F;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}
.projects-section{
    
    margin: 50px;
    justify-content: center;
    background-color: #CFCFEA;;
    color:black;
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
}
.section-heading-projects{
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
    font-size: 2rem;
    text-align: center;
    background-color: #60712F;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}
#others_skills-section{
    margin: 50px;
    justify-content: center;
    background-color: #CFCFEA;;
    color:black;
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
}
.other_section-heading{
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2) ;
    font-size: 2rem;
    text-align: center;
    background-color: #60712F;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}
.contact{
    padding: 50px;
}
.contact p{
    margin-top: 10px;
    margin-bottom: 5px;
}
.contact ul {
    display: flex;
    margin: auto ;
    color:white;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.contact a{    
    margin-right: 10px;
    color: white;
    text-decoration:none;
    opacity: 0.3;
    padding: 10px 15px;
}
.contact a:hover{
    color: #60712F;
    opacity: 1;
    text-decoration: underline;
    transition: all 0.3s;
}
#contact_section{
    background-color: #262626;
    color:#60712F;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);  
}

